<agm-map 
    [latitude]="lat" 
    [longitude]="lng" 
    [zoom]="zoom" 
    [disableDefaultUI]="true"
    [zoomControl]="false"
    >
  <agm-marker
    *ngFor="let city of cities" 
    (markerClick)="onMarkerClick(city)" 
    [latitude]="city.coord.lat"
    [longitude]="city.coord.lon">
    <agm-info-window>
      <strong>{{city.name}}</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>

<div id="sidebar" > 
    <div *ngIf="citydetail">
        <h2>{{citydetail.name}}, {{citydetail.sys.country}}</h2>
        <div><span>Weather: </span>{{citydetail.weather[0].description}}</div>
        <div><span>Temperature: </span>{{citydetail.main.temp}}C</div>
        <div><span>Pressure: </span>{{citydetail.main.pressure}}hPa</div>
        <div><span>Humidity: </span>{{citydetail.main.humidity}}%</div>
    </div>

    <h2>Cities</h2>
    <ul class="cities">
      <li *ngFor="let city of cities" (click)="onSelect(city)">
        {{city.name}}
      </li> 
    </ul>
</div>
